<!-- Display document result -->
<div class="jumbotron" ng-if="upload.analysed">
    <h1>Résultat</h1>
    <img ng-src="http://localhost/pi/api/storage/{{upload.result.file.url}}" alt="{{upload.result.file.alt}}" />
    <p class="lead" ng-repeat="(marker, res) in upload.result.result">
        {{marker}}: <span ng-repeat="desc in res">{{desc.description}} | </span>
    </p>
</div>

<div class="row col-sm-12">

    <!-- Display all the uploaded documents -->
    <h2>Documents</h2>
    <div documents="documents"></div>

    <h2>Choix de l'image</h2>

    <form name="analyse" no-validate>

        <div class="form-group">
            <label for="document">Document</label>
            <div    id="document"
                    name="document"
                    ngf-select ngf-drop
                    ng-model="upload.form.document"
                    class="drop-box"
                    ngf-drag-over-class="'dragover'"
                    ngf-multiple="false"
                    ngf-allow-dir="true"
                    ng-show="!upload.form.document">
                Glisser-déposer votre image
            </div>

            <i ngf-no-file-drop>Le glisser-déposer n'est pas supporté par votre navigateur.</i>

            <p ng-show="upload.form.document">
                <img class="preview picture-logo" ngf-thumbnail="upload.form.document" /> &nbsp; &nbsp;
                <a ng-click="upload.cancelDocument()">Annuler</a>
            </p>

            <!-- API errors -->

        </div>

        <div class="form-inline">
            <div class="form-group">
                <input type="text" name="marker" class="form-control" placeholder="Marqueur" ng-model="upload.m"/>
                <button class="btn btn-success" ng-click="upload.addMarker()">Ajouter le marqueur</button>
            </div>

            <ul class="list-group">
                <li ng-repeat="marker in upload.form.markers" class="list-group-item">
                    {{marker.text}}
                    <label><input type="radio" ng-model="upload.form.markers[$index].after" value="before"/> Avant</label>
                    <label><input type="radio" ng-model="upload.form.markers[$index].after" value="after"/> Après</label>
                    <span class="pull-right glyphicon glyphicon-remove" ng-click="upload.removeMarker($index)"></span>
                </li>
            </ul>
        </div>

        <div class="progress">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{upload.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%">
                {{upload.progress}}%
            </div>
        </div>
        {{upload.errorMsg}}


        <input type="submit" ng-click="upload.uploadFiles()" class="btn btn-primary" value="Analyser" />
    </form>
</div>